.hero{
    height: 100vh;
    
}

.hero .heroBanner{
    z-index: 0;
    width: 100%;
    height: 107%;
    mask-image: linear-gradient(to right , transparent,rgba(0, 0, 0, 0.781) 75%);
    -webkit-mask-image: linear-gradient(to right , transparent, rgb(0, 0, 0) 75%); 
   
}



.moreInfo{
    background-color: #4f4f4f;
}
